POSTGRES_USER=messenger
POSTGRES_PASSWORD=change_me
POSTGRES_DB=messenger

JWT_SECRET_KEY=change_me
ACCESS_TOKEN_EXPIRE_MINUTES=3600

PUBLIC_APP_URL=https://messenger-01.tail1a26d2.ts.net
EMAIL_VERIFICATION_EXPIRE_MINUTES=30
